<hr class="linea">
<div class="top-space">
	
	<div class="row">
		<div class="col-xs-4 text-left letra-times-new-roman vertical">
			<%= link_to brand_path(article.brand.id), data: { turbolinks: false}  do %>
				<%= article.phone.name %>
			<%end%>
		</div>
		<div class="row col-xs-5 last-xs text-right letra-times-new-roman">
      <div class="col-xs-2">
        <% if article.user.photo_file_name.nil? %>
            <%= image_tag "new_perfil_mini.png", class: "circular"  %>
        <%else%>
            <%= image_tag article.user.photo.url(:mini), class: "circular" %>
        <%end%>
      </div>
      <div class="col-xs-10 vertical">
        <%= link_to article.user.name, usershow_path(article.user.id) %>
      </div>


		</div>
		<div class="col-xs-3 red letra-times-new-roman">
			<% if !article.may_sivendido? %>
				VENDIDO
			<%end%>
		</div>
	</div>
	<%= link_to article_path(article.id), data: { turbolinks: false}  do %>
		<div class="slides top-space  no-margin">
			<% if !article.foto1_file_name.nil? %>
				<%= image_tag article.foto1.url(:normal), class: "border-5"%>

			<%elsif !article.foto2_file_name.nil? %>
				<%= image_tag article.foto2.url(:normal), class: "border-5"%>

			<%elsif !article.foto3_file_name.nil? %>
				<%= image_tag article.foto3.url(:normal), class: "border-5"%>

			<%elsif !article.foto4_file_name.nil? %>
				<%= image_tag article.foto4.url(:normal), class: "border-5"%>
			<%end%>
		</div>
		<div class="row">
			<div class="col-xs-6 text-left letra-times-new-roman grey">
        <% unless article.city.nil? %>
				  <%= article.city.name %>
        <% end %>
			</div>
			<div class="col-xs-6 last-xs text-right letra-times-new-roman negrilla">
				Precio: <%= number_to_currency(article.precio, precision: 0)%>
			</div>
		</div>
		<div class="text-justify letra-lucida-grande">
			<h4 style="margin: 5px; margin-left: 0px"> caracteristicas: </h4>
      Sistema operativo: <%= article.operating_system %> -
      Tamaño de pantalla: <%= article.screen_size %> -
      Cámara frontal: <%= article.front_camera %> -
      Cámara trasera: <%= article.back_camera %> -
      Memoria RAM:: <%= article.ram %> -
      Almacenamiento interno: <%= article.internal_storage %>

		</div>
	<% end %>
	<div class="row col-xs-12 no-margin no-padding">
		<h5 class="col-xs-12 no-margin">Comentarios:</h5>
		<div class="row  center-xs " >
			<% article.questions.each do |question|%>
		 		<div class="text-left col-xs-12 be-grey" style="border-radius: 15px; margin-top: 10px;">
		 			<% if question.user.photo_file_name.nil? %>
						<%= image_tag "new_perfil_mini.png", class: "circular", style: "margin-top: 5px;"  %>
					<%else%>
						<%= image_tag question.user.photo.url(:mini), class: "circular" %>
					<%end%>
		 			<%= question.user.name %>:
		 			<%= question.body.truncate(130)%>
		 			<hr class="punteada no-margin">
		 		</div>
			<%end%>
		</div>
	</div>
</div>