<header>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<%= link_to (image_tag "logo.png"), root_path, class: " no-padding", data: { turbolinks: false}%>
 		<a class="navbar-brand col-xs-2 top-space no-padding text-left" href="/">
 			Celuprecios
 		</a>
  
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		</button>


		<div class="collapse navbar-collapse" id="navbarSupportedContent">

		    
		    <ul class="navbar-nav col-xs-12 col-md-2">
		    	<li class="nav-item active col-xs-6 col-md-2">
		    		<a class="nav-link" href="http://celuprecios.blogspot.com.co">
		    			Blogs
		    			<span class="sr-only">
		    				(current)
		    			</span>
		    		</a>
		        </li>
		    </ul>
			 <ul class="navbar-nav col-xs-12 col-md-4">
			    <form class="form-inline my-1 my-lg-0" method="get" data-remote="true"  action="/search/create">
			    	<input class="form-control mr-sm-2" name="keyword" id="keyword" type="search" placeholder="Que buscas" aria-label="Que buscas">
			    		<button class="btn btn-outline-success my-2 my-sm-0" type="submit"  >
			    			Buscar
			    		</button>
			    </form>
			</ul>
		   <ul class="navbar-nav col-xs-12 col-md-8">
	        <% if user_signed_in? %>
	        	<li class="nav-item active col-xs-6 col-md-2">
					<li class="col-xs">
						<%= link_to "Mi perfil", usershow_path(current_user.id), :class => "nav-link" %>
					</li>
				</li>
				<li class="nav-item active col-xs-12 col-md-4">
					<li class="col-xs">
						<% if current_user.is_admin_user? %>
							<%= link_to "Panel de control", administration_path, :class => "nav-link" %>
						<% else %>
							<%= link_to "Vender +", new_article_path, data: { turbolinks: false}, :class => "nav-link" %>
						<%end%>
					</li>
				</li>
				<li class="nav-item active col-xs-12 col-md-2">
					<li class="col-xs">
						<%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete, :class => "nav-link" %>
					</li>
				</li>
			<% else %>
				<li class="nav-item active col-xs-12 col-md-2">
					<a id="myBtnlogin3" class="nav-link">
					  Vender +
					</a>
				</li>
				<li class="nav-item active col-xs-12 col-md-3">
					<a id="myBtnlogin" class="nav-link">
						  Iniciar sesion
					</a>
				</li>

				<li class="nav-item active col-xs-12 col-md-3">
					<a data-turbolinks="false" class="nav-link" href="/users/sign_up">Crear cuenta</a>
				</li>
				
			<%end%>
		</ul>
		</div>
	</nav>

</header>
