<%= form_for(@brand) do |f| %>
	<h3 class="letra-times-new-roman text-center" style="font-size: 1.5em;"> Editar Marca </h3>
	<% @brand.errors.full_messages.each do |message| %>
		<div class="be-red  white top-space">
			<%= message %>
		</div>
	<%end%>
	<div class="field", >
		<%= f.label :name, "Nombre:" %><br />
		<%= f.text_field :name, placeholder: "Nombre", class: "from-control"%>
	</div>
	<div class="field">
		Logo:  <%= f.file_field :logo%>
	</div>
	<div class="field">
		<%= link_to "Eliminar", @brand,class: "btn white be-blue", :method => :delete %>
		<%= f.submit "Guardar", class: "btn white be-blue", method: :put %>
	</div>
<%end%>

